{% extends 'base.html' %}
{% load static %}
{% block script %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4"></script>
<script type="text/javascript">
let cntr = 0
document.addEventListener("DOMContentLoaded", function(){
    let btn = document.querySelector('input[name=send]');
    
    btn.addEventListener('click', async function(event){
        event.preventDefault();
        cntr += 1;
        let response = await fetch("{% url 'employee_stat'%}",{
            method: "POST",
            body: new FormData(document.querySelector('form'))
        });
        //btn.style.display = 'none';
        let response_text = await response.json();
        //222
        
        //222

        
        function updateData(chart) {
            chart.data.labels.push(label);
            chart.data.datasets.forEach((dataset) => {
                dataset.data.push(data);
            });
            chart.update();
}
        
        //begin


    function NewChart(response_text){
        let ctx = document.getElementById("chart").getContext("2d");
            let chart = new Chart(ctx, {
            type: "line",
            data: {
                labels: response_text['dates'],
                datasets: [
                    {
                    label: "",
                    backgroundColor: 'rgb(255, 205, 86)',
                    borderColor: "#417690",
                    data: response_text['tabel'],
                    fill: false,
                    tension: 0.5,
                    },
                    
                    
                ]
            },
            options: {
                title: {
                    text: response_text['employee'] + ' - ' + response_text['month'] + ' ' + response_text['year'],
                    display: true
                },
                scales: {
                    yAxes: [{
                        ticks: {
                            suggestedMin: 1,
                            suggestedMax: 12
                        }
                    }]
                }
            }
            });
    }}) //close
    if (cntr == 0){
        NewChart(response_text)
    }
})



</script>


{% endblock %}
{% block more_css %} <link rel="stylesheet" href="{% static '/stat_app/style.css' %}"> {% endblock %}

{% block content %}
    <h3>Отдел: {{ department }} </h3>
    <h3>Сотрудник: {{ employee }}</h3>

    <form method="post" action="{% url 'employee_stat' %}" name="graph-form">
        {% csrf_token %}
        <select size="1" name="year" required>
            <option value="2021">2021</option>
        </select>
        <select name="month" id="" size="1" required>
            <option value="0">----</option>
            <option value="1">Январь</option>
            <option value="2">Февраль</option>
            <option value="3">Март</option>
            <option value="4">Апрель</option>
            <option value="5">Май</option>
            <option value="6">Июнь</option>
            <option value="7">Июль</option>
            <option value="8">Август</option>
            <option value="9">Сентябрь</option>
            <option value="10">Октябрь</option>
            <option value="11">Ноябрь</option>
            <option value="12">Декабрь</option>   
        </select>
        <input type="hidden" name="employee" value="{{ employee }}">
        <input type="submit" value="Получить данные" name="send" id="Send">
        <input type="submit" value="Обновить" name="update" style="display: none;">

    </form>


    <div class="all-graphs">
        <div class="graph" width="500px", height="500px">
        <canvas id="chart" width="500px" height="500px"></canvas>
        </div>
    </div>
{% endblock %}