{% extends 'base.html' %}
{% load static %}

{% block more_css %} <link rel="stylesheet" href="{% static '/stat_app/style.css' %}"> {% endblock %}
{% block script %}<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4"></script>
<script type="text/javascript">
let cntr = 0


colors = ['blue', 'green', 'red', 'black', 'yellow', 'gray', 'purple', '#D2691E']
function addData(response_text, colors) {
    let ret = []
    let l = Object.keys(response_text).length;
    for(let i = 1; i < l; i++) {
        val = {
            label : response_text[i].name,
            data : response_text[i].values,
            fill : false,
            backgroundColor : colors[i],
            borderColor : colors[i],
        }
        console.log('val is' + val.label)
        ret.push(val)
        

    }
    console.log( ret)
    return ret
} 


function NewChart(response_text){
        let ctx = document.getElementById("chart").getContext("2d");
            let chart = new Chart(ctx, {
            type: "line",
            data: {
                labels: response_text['dates'],
                datasets: addData(response_text, colors)
 
                },
                options: {
                    title: {
                        text: "График загрузки",
                        display: true
                    },
                    scales: {
                        yAxes: [{
                            ticks: {
                                suggestedMin: 0,
                                suggestedMax: 100
                            }
                        }]
                    }
                }
                });
            return chart
        }


function updateData(chart, response_text) {

    chart.data.labels = response_text['dates']
    chart.data.datasets.forEach((dataset, i = 1) => {
        dataset.data = response_text[i + 1].values;
        console.log(response_text[i + 1].values);
    });
    chart.update();
}

document.addEventListener("DOMContentLoaded", function(){
    let btn = document.querySelector('input[name=send]');
    btn.addEventListener('click', async function(event){
        event.preventDefault();
        cntr += 1;
        let response = await fetch("{% url 'zagruzka_stat'%}",{
            method: "POST",
            body: new FormData(document.querySelector('form'))
        });
        let response_text = await response.json();
        if (cntr == 1){
           chart = NewChart(response_text)
        } else {
            updateData(chart, response_text)
        }


})
    
})


</script>
{% endblock %}


{% block content %}
<h3>График загруженности отдела {{ department_ru }}</h3>
<div class="form-container">
    <form method="post" action="{% url 'employee_stat' %}" name="graph-form">
        {% csrf_token %}
        <select size="1" name="year" required>
            <option value="2021">2021</option>
            <option value="2022">2022</option>
        </select>
        <select name="month" id="" size="1" required>
            <option value="0">----</option>
            <option value="1">Январь</option>
            <option value="2">Февраль</option>
            <option value="3">Март</option>
            <option value="4">Апрель</option>
            <option value="5">Май</option>
            <option value="6">Июнь</option>
            <option value="7">Июль</option>
            <option value="8">Август</option>
            <option value="9">Сентябрь</option>
            <option value="10">Октябрь</option>
            <option value="11">Ноябрь</option>
            <option value="12">Декабрь</option>   
        </select>
        <input type="hidden" name="employee" value="{{ employee }}">
        <input type="submit" value="Получить данные" name="send" id="Send" class="drop">
        <input type="submit" value="Обновить" name="update" style="display: none;">
    </form>

    <div class="dropdown">
        <button class="drop">Список сотрудников</button>
        <div class="dropdown-content">
            {% for key, value in employees.items %}
            <a href="{% url 'employee_url' department=department employee=key %}">{{ value | title }}</a>
            {% endfor %}

        </div>
    </div>
</div>
<div class="all-graphs">
    <div class="graph" width="100%">
    <canvas id="chart" width="100%" ></canvas>
    </div>
</div>


{% endblock %}